{% extends 'base.html.twig' %}

{% block title %}Hello AuctionController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! ✅</h1>
		{{ form(form) }}
			This friendly message is coming from:
			<ul>
				<li>Your controller at
					<code>
						<a href="{{ 'D:/symfonyEcommerce/src/Controller/AuctionController.php'|file_link(0) }}">src/Controller/AuctionController.php</a>
					</code>
				</li>
				<li>Your template at
					<code>
						<a href="{{ 'D:/symfonyEcommerce/templates/auction/index.html.twig'|file_link(0) }}">templates/auction/index.html.twig</a>
					</code>
				</li>
			</ul>
		</div>
	{% endblock %}
